# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017/

# API Keys (Get your own free keys at the respective sites)
OTX_API_KEY=your_key_here
ABUSEIPDB_API_KEY=your_key_here
VT_API_KEY=your_key_here
